*

!/conf/
!/conf/shell/
!/conf/shell/etc/
!/conf/shell/etc/skel/
!/conf/shell/var/
!/conf/shell/var/tmp/
!/conf/shell/var/tmp/snippets/
!/extensions/
!/scripts/
!/scripts/etc/
!/scripts/etc/skel/
!/scripts/etc/skel/.local/
!/scripts/etc/skel/.local/bin/
!/scripts/usr/
!/scripts/usr/local/
!/scripts/usr/local/bin/
!/vsix/
!/vsix/var/
!/vsix/var/tmp/
!/vsix/var/tmp/extensions/

!/conf/shell/etc/skel/.profile
!/conf/shell/var/tmp/snippets/*.sh
!/scripts/etc/skel/.local/bin/*.sh
!/scripts/usr/local/bin/*.sh
!/vsix/var/tmp/extensions/*.vsix

!/.gitignore
!/devcontainer.json
!/init
!/init.cmd
!/Mojo.Dockerfile
